﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align: center;">
    <p><h1 class="display-4">@ViewData["header"]</h1></p>
    <p><img src="~/images/@ViewData["pic1"]" class="pure-img" /></p>
    <p>@ViewData["tgnummer"] - @ViewData["nummer"]</p>
    <p>@ViewData["beschreibung"]</p>
    <form method="post" action="~/zdetail"><input name="__token__" type="password" /><input name="__pid_neu__" value="@ViewData["pid"]" type="hidden" /><input name="__nummer_neu__" value="@ViewData["nummer"]" type="hidden" /><br /><button class="gbutton">Zeichnungshistorie</button></form>
</div>
