﻿@page
@model Zeichnungsdatenbank.Pages.zdetailModel
@{
    ViewData["Title"] = "Zeichnungshistorie";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="~/css/pure-min.css" rel="stylesheet" />
<div style="text-align: center;">
    <p>
        <h1>Zeichnungshistorie</h1>
    </p>
    <p>@ViewData["Meldung"]</p>
    <p>
        @ViewData["nummer"]&nbsp;&nbsp;@ViewData["Inhalt1"]
    </p>
    <table id="dataTable" class="pure-table" width="100%">
        <thead>
            <tr>
                <td>
                    Index
                </td>
                <td>
                    Status
                </td>
                <td>
                    Änderung
                </td>
                <td>
                    Datum
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @ViewData["Index1"]
                </td>
                <td>
                    @ViewData["Status1"]
                </td>
                <td>
                    @ViewData["Änderungstext1"]
                </td>
                <td>
                    @ViewData["modifiziert1"]
                </td>
            </tr>
            <tr class="pure-table-odd">
                <td>
                    @ViewData["Index2"]
                </td>
                <td>
                    @ViewData["Status2"]
                </td>
                <td>
                    @ViewData["Änderungstext2"]
                </td>
                <td>
                    @ViewData["modifiziert2"]
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["Index3"]
                </td>
                <td>
                    @ViewData["Status3"]
                </td>
                <td>
                    @ViewData["Änderungstext3"]
                </td>
                <td>
                    @ViewData["modifiziert3"]
                </td>
            </tr>
            <tr class="pure-table-odd">
                <td>
                    @ViewData["Index4"]
                </td>
                <td>
                    @ViewData["Status4"]
                </td>
                <td>
                    @ViewData["Änderungstext4"]
                </td>
                <td>
                    @ViewData["modifiziert4"]
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["Index5"]
                </td>
                <td>
                    @ViewData["Status5"]
                </td>
                <td>
                    @ViewData["Änderungstext5"]
                </td>
                <td>
                    @ViewData["modifiziert5"]
                </td>
            </tr>
        </tbody>
    </table>
</div>
